<h2><%= @artist.name %></h2>
<p><%= @artist.bio %></p>
<img src="<%@artist.img_url%>">
<a href="<%@artist.music_url%>">Link to Music</a>

<section>
  Upcoming Shows
  <div>
  <% @performances.each do |perf| %>
  <img src="<%= perf.show.flyer_img %>">
  <%= perf.show.date %>
  <% end %>
</div>
</section>
