/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Montserrat', Helvetica, sans-serif;

  background-image: url(http://wallpapercave.com/wp/rXfXget.jpg);
    color: white;
    background-color: black;
padding: 10px;
}


h1, h2 {
  text-align: center;
  text-shadow: #000 0px 0px 1px;
     -webkit-font-smoothing: antialiased;
}
h1 {
  line-height: 20px;
  font-size: 4em;
  font-family: 'Shrikhand', sans-serif;;
}

h3 {
  margin-top: 4px;
  margin-bottom: 6px;
}

nav {
  /*align-content: space-between;
  align-items:center;
  justify-content: space-between;*/
  /*outline: solid red 2px;*/
  /*background-color: #2222ff;*/
}

nav ul {
  align-self: center;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 0;
  margin: 0 auto;
}

nav ul li {

  text-align: center;
  display:inline-block;
  text-decoration: none;
  background-color: #8888ff;
  line-height: 32px;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  border-bottom: #a2a2a2 solid 5px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  background-color: red;
  border-bottom: #626262 solid 5px;

}

main {
  width: 650px;
  margin: 0 auto;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist {
  outline: black 4px dashed;
 background-size: cover;
 background-color: #E9EBE7;
 width: 300px;
 height: 300px;
 text-align: center;
 line-height: 300px;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:.5s;
 margin: 5px;
 display: block;
position: relative;
}

.artist a {
  /*margin: 0;*/
 position: absolute;
 width: 100%;
 height: 100%;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 30px;
 color: white;
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition:.5s;
 text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.artist a:hover {
  color: red;
}

a:hover {
  color: red;
}

li a:hover{
  color: lemonchiffon;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  padding-top:40px;
}

.show a {
  color: lemonchiffon;
}

.error {
  color: red;
  outline: red 3px solid;
  background-color: rgba(12,12,12,.5);
  padding: 6px;
  list-style: none;
  width: 300px;
  /*margin: 0 auto;*/
}

textarea {
  width: 350px;
  font-family: inherit;
}

form {
  border: white 3px solid;
  border-radius: 10px;
  padding: 12px;
}

input {
  font-family: inherit;
}

label {
  font-size: 20px;
}

  select, input[type=text] {
  width: 100%;
  font-size: 15px;
  text-align-last:center;
  margin: 12px 0;
  height: 30px;
}

input[type=submit] {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  float: left;
  /*border: 0;*/
  display: block;
  margin: 15px 0;
  height: 46px;
}

@media (max-width: 700px) {
nav ul {
  flex-direction: column;
}
}
