<main>
  <div class="disclaimer">

<h2>Disclaimer</h2>
<p>
This website is a Ruby on Rails demonstration and is in no way affiliated with the blog "Showspace".
None of the data presented here is guaranteed accurate or verified by anyone</p>
<p>Feel free to make your own fictious band page and schedule a show!</p>
</div>

</main>
