<div class="form">
  <h2>Add an artist to this show
</h2>
<%= form_for @performance do |f| %>
  <%= f.select :artist_id, Artist.all.collect { |artist| [artist.name, artist.id]} %>
  <%= f.select :show_id, Show.all.collect {|show| [show.starts_at_date, show.id] } %>
  <%= f.submit %>
  <% end %>
</div
